body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(circle at 15% 80%, rgba(40, 71, 144, 0.55), rgba(255, 175, 204, 0) 40%), radial-gradient(circle at 70% 75%, rgba(115, 223, 255, 0.45), rgba(115, 223, 255, 0) 40%), radial-gradient(circle at 90% 15%, rgba(165, 158, 255, 0.45), rgba(165, 158, 255, 0) 40%), radial-gradient(circle at 50% 30%, rgba(255, 255, 255, 0.8), rgba(240, 240, 255, 0.8)), #f6f6ff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
